.container-fluid{
	/*padding: 0px;*/
}
header{
	/*background: #202020;*/
	/*background: url(../img/slash_it.png);*/
	background: url(../img/footer_lodyas.png);
	padding: 20px 5px;
}
.logouis img{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
header .logouis h1{
	vertical-align: middle;
	text-align: center;
	color:#FFFFFF;
	display: inline-block;
	width: 79%;
}
header .acreditacion{
	float: right;
}
header .acreditacion img{
	height: 80px;
}
header{
	border-bottom: 4px solid #279874;
}
.banner{
	background: #F0f0f0;
}